.racebar {
  display: block;
  width: 717px;
  margin: 0 auto;
  background-color: #424242;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#424242), to(#303030));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #424242, #303030);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #424242, #303030);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #424242, #303030);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #424242, #303030);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #424242, #303030);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4c4c4c #000000 #000000 #474747;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  overflow: auto;
  margin-bottom: 8px;
  padding: 4px 8px 4px;
  font-weight: 700;
  cursor: pointer;
}
.racebar.lit {
  background-color: #7c0605;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#7c0605), to(#5a0404));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #7c0605, #5a0404);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #7c0605, #5a0404);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #7c0605, #5a0404);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #7c0605, #5a0404);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #7c0605, #5a0404);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #900706 #000000 #000000 #860605;
}
.racebar.lit:hover {
  background-color: #ad0807;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#ad0807), to(#8b0706));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #ad0807, #8b0706);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #ad0807, #8b0706);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #ad0807, #8b0706);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #ad0807, #8b0706);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #ad0807, #8b0706);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #c10908 #0b0100 #0b0100 #b70907;
}
.racebar:hover {
  background-color: #c01614;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#c01614), to(#a01211));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #c01614, #a01211);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #c01614, #a01211);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #c01614, #a01211);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #c01614, #a01211);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #c01614, #a01211);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #d21816 #280504 #280504 #c91715;
  color: inherit;
}
.racebar:active {
  background-color: #7c0605;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#7c0605), to(#5a0404));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #7c0605, #5a0404);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #7c0605, #5a0404);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #7c0605, #5a0404);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #7c0605, #5a0404);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #7c0605, #5a0404);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  /*position:relative; top:1px;*/
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #900706 #010000 #010000 #860605;
  color: inherit;
}
.racebar .right {
  text-align: right;
}
.racebar .left {
  width: 484px;
  margin-right: 16px;
}
.racebar div {
  padding-top: 1px;
}
.racebar strong {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.06rem;
  line-height: 1.15rem;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.race_img {
  padding-top: 0px;
  float: left;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 40px;
  width: 80px;
  margin-right: 8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  background: #000 no-repeat;
  background-size: 86px 64px;
  background-position: 0 -3px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.boxshadow {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.bold {
  font-weight: 700;
}
.liteboxshadow {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}
.noboxshadow {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
}
.heading {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.06rem;
  line-height: 1.15rem;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}
.gold {
  color: #f7e279;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 0 0 1px #8d8145;
}
.silver {
  color: #bec7d2;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 0 0 1px #6d7278;
}
.bronze {
  color: #e09456;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 0 0 1px #805531;
}
.darkbronze {
  color: #9d683c;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6), 0 0 1px #5a3b22;
}
.red {
  color: #f05858;
}
.green {
  color: #52d64f;
}
.grey {
  color: #808080;
}
.blue {
  color: #3c70df;
}
.sans {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.92rem;
  line-height: 1.22rem;
}
.cuprum {
  font-family: 'Cuprum', sans-serif;
  letter-spacing: 1px;
}
.small {
  font-size: 85%;
}
html,
body {
  background: #111;
  color: #bec7d2;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.92rem;
  line-height: 1.22rem;
  padding: 0;
  margin: 0;
  height: 100%;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
}
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
.always_scrollbar {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
.container {
  width: 1000px;
  margin: 0 auto;
  padding: 8px 0 6px 16px;
  overflow: visible;
}
.container2 {
  width: 100%;
  min-width: 1016px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 16px;
}
p {
  margin: 0px;
  padding: 0 0 11.2px;
  line-height: 1.35rem;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
strong {
  color: #f7e279;
  font-weight: 700;
}
h1 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.06rem;
  line-height: 1.15rem;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  color: #e09456;
  margin: 8px 0 0;
  padding: 8px 0;
  word-wrap: break-word;
  overflow: hidden;
}
h1 img {
  position: absolute;
  margin: 0 8px;
}
h1 a {
  text-decoration: underline;
}
h2 {
  display: block;
  margin: 0 0 8px;
  color: #f7e279;
  font-weight: 700;
  clear: both;
  font-size: 100%;
}
h3 {
  display: block;
  margin: 0 0 8px;
  color: #d2c067;
  font-weight: 700;
  clear: both;
  font-size: 90%;
}
h4 {
  display: block;
  margin: 8px 0;
  color: #f7e279;
  font-weight: 700;
}
table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  padding: 0;
}
td {
  border: 0;
  padding: 0;
}
th {
  background-color: #c01614;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#c01614), to(#a01211));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #c01614, #a01211);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #c01614, #a01211);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #c01614, #a01211);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #c01614, #a01211);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #c01614, #a01211);
  color: #f7e279;
  text-shadow: 1px 1px 3px #111;
  font-weight: 700;
}
ul {
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  margin-top: 2px;
  margin-bottom: 2px;
}
ul li {
  list-style-type: square;
  list-style-position: inside;
}
ol {
  margin-left: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}
li {
  line-height: 1.35rem;
  padding-bottom: 11.2px;
}
blockquote {
  margin: 1em 20px;
  padding-left: 50px;
  margin-left: 0;
  background: transparent url("../lbmockup/blockquote.png") no-repeat;
  min-height: 50px;
  padding-top: 20px;
  font-size: 15px;
  line-height: 20px;
}
blockquote p {
  margin-bottom: 10px;
}
code {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.92rem;
  line-height: 1.22rem;
  font-weight: 700;
  background-color: #111;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#111), to(#000000));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #111, #000000);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #111, #000000);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #111, #000000);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #111, #000000);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #111, #000000);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #1b1b1b #000000 #000000 #161616;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 1px 5px;
}
.formtext {
  font-weight: 700;
  padding-bottom: 3px;
}
.inputstyle {
  color: #fff;
  width: 90px;
  margin-right: 0;
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 2px 5px 2px;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #5f6469;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#5f6469), to(#4e5256));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #5f6469, #4e5256);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #5f6469, #4e5256);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #5f6469, #4e5256);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #5f6469, #4e5256);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #5f6469, #4e5256);
  /*
        &[type=password] {
            letter-spacing:1px;
        }
        */
  /*
    .rounded;
    .boxshadow;
    border:1px black solid;
    color:white;
    outline: none;

    &:focus {
        border:1px solid @lightgrey;
    }

    .box_gradient(@coolpurple / 2);
    padding:1px 5px 1px 10px;
    .heading;
    font-size:1em;
    margin: 0 0 5px @gutter;
*/
}
.inputstyle:focus {
  box-shadow: 0 0 2px #3c70df;
  -moz-box-shadow: 0 0 2px #3c70df;
  -webkit-box-shadow: 0 0 2px #3c70df;
  background-color: #1e3870;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#1e3870), to(#162a53));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #1e3870, #162a53);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #1e3870, #162a53);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #1e3870, #162a53);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #1e3870, #162a53);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #1e3870, #162a53);
}
::-webkit-input-placeholder {
  opacity: 0.3;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: opacity:0.3;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: opacity:0.3;
}
:-ms-input-placeholder {
  color: opacity:0.3;
}
input:not([type=submit]):not([type=file]),
textarea {
  color: #fff;
  width: 90px;
  margin-right: 0;
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 2px 5px 2px;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #5f6469;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#5f6469), to(#4e5256));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #5f6469, #4e5256);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #5f6469, #4e5256);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #5f6469, #4e5256);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #5f6469, #4e5256);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #5f6469, #4e5256);
  /*
        &[type=password] {
            letter-spacing:1px;
        }
        */
  /*
    .rounded;
    .boxshadow;
    border:1px black solid;
    color:white;
    outline: none;

    &:focus {
        border:1px solid @lightgrey;
    }

    .box_gradient(@coolpurple / 2);
    padding:1px 5px 1px 10px;
    .heading;
    font-size:1em;
    margin: 0 0 5px @gutter;
*/
  width: 215px;
}
input:not([type=submit]):not([type=file]):focus,
textarea:focus {
  box-shadow: 0 0 2px #3c70df;
  -moz-box-shadow: 0 0 2px #3c70df;
  -webkit-box-shadow: 0 0 2px #3c70df;
  background-color: #1e3870;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#1e3870), to(#162a53));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #1e3870, #162a53);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #1e3870, #162a53);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #1e3870, #162a53);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #1e3870, #162a53);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #1e3870, #162a53);
}
/*
.monospace {
    .cuprum;
    .bold;
    font-size:1.05em;
    color:#ced7e2;
}

.irc {
    display:block;
    background:@black;
    padding: 2px 10px;
    .monospace;
    margin-bottom: @gutter * 2;
    .rounded;
}
*/
::selection {
  background: rgba(0, 0, 0, 0.6);
  color: #f7e279;
}
.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.note {
  color: #808080;
  font-size: 85%;
}
.rounded_top {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
.rounded_bottom {
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}
.rounded_topleft {
  border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
}
.rounded_topright {
  border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  -webkit-border-radius: 0 4px 0 0;
}
.rounded_bottomleft {
  border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  -webkit-border-radius: 0 0 0 4px;
}
.rounded_bottomright {
  border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  -webkit-border-radius: 0 0 4px 0;
}
.rounded_right {
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
}
.rounded_left {
  border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
}
.not_rounded {
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
}
.textshadow {
  text-shadow: 1px 1px 3px #111;
}
.insetboxshadow {
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
}
.insetboxshadow2 {
  box-shadow: inset 0px 0px 50px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0px 0px 50px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 0px 50px rgba(255, 255, 255, 0.3);
}
.italic {
  font-style: italic;
}
.center {
  text-align: center;
}
.smallbuttonstyle {
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png");
  background-color: #424242;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#424242), to(#303030));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #424242, #303030);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #424242, #303030);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #424242, #303030);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #424242, #303030);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #424242, #303030);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4c4c4c #000000 #000000 #474747;
  text-align: center;
  display: block;
  font-weight: 700;
  color: #bec7d2;
  margin: 0;
  float: left;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.smallbuttonstyle:hover {
  background-color: #3c70df;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#3c70df), to(#235cd4));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #3c70df, #235cd4);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #3c70df, #235cd4);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #3c70df, #235cd4);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #3c70df, #235cd4);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #3c70df, #235cd4);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4e7de2 #102a63 #102a63 #4576e0;
  color: #fff;
}
.smallbuttonstyle:active {
  background-color: #1448b3;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#1448b3), to(#103b93));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #1448b3, #103b93);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #1448b3, #103b93);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #1448b3, #103b93);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #1448b3, #103b93);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #1448b3, #103b93);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  /*position:relative; top:1px;*/
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #164fc5 #071a40 #071a40 #154cbc;
  color: #fff;
}
.smallbutton {
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png");
  background-color: #424242;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#424242), to(#303030));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #424242, #303030);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #424242, #303030);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #424242, #303030);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #424242, #303030);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #424242, #303030);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4c4c4c #000000 #000000 #474747;
  text-align: center;
  display: block;
  font-weight: 700;
  color: #bec7d2;
  margin: 0;
  float: left;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 108px;
  margin-right: 16px;
  margin-bottom: 8px;
  padding: 2px 0 3px 0;
  text-decoration: none;
}
.smallbutton:hover {
  background-color: #3c70df;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#3c70df), to(#235cd4));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #3c70df, #235cd4);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #3c70df, #235cd4);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #3c70df, #235cd4);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #3c70df, #235cd4);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #3c70df, #235cd4);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4e7de2 #102a63 #102a63 #4576e0;
  color: #fff;
}
.smallbutton:active {
  background-color: #1448b3;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#1448b3), to(#103b93));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #1448b3, #103b93);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #1448b3, #103b93);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #1448b3, #103b93);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #1448b3, #103b93);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #1448b3, #103b93);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  /*position:relative; top:1px;*/
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #164fc5 #071a40 #071a40 #154cbc;
  color: #fff;
}
#racefeed {
  width: 484px;
  margin-right: 16px;
}
.checkBox {
  width: 16px;
  position: relative;
}
.checkBox input[type=checkbox] {
  visibility: hidden;
}
.checkBox label {
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
}
.checkBox label span {
  display: block;
  margin-left: 25px;
  width: 200px;
}
.checkBox label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 7px;
  height: 3px;
  background: transparent;
  top: 4px;
  left: 3px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkBox label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.checkBox input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
#racesMain {
  width: 734px;
  margin-right: 16px;
  float: right;
}
#racesNav {
  float: left;
  width: 234px;
  margin-right: 16px;
}
#racesNav > a {
  display: block;
  width: 213px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.06rem;
  line-height: 1.15rem;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 3px #111;
  background-color: #404040;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#404040), to(#2e2e2e));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #404040, #2e2e2e);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #404040, #2e2e2e);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #404040, #2e2e2e);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #404040, #2e2e2e);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #404040, #2e2e2e);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #4a4a4a #000000 #000000 #454545;
  margin-bottom: 1px;
  color: #bec7d2;
  text-decoration: none;
  padding: 5px 10px;
}
#racesNav > a:nth-child(2) {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
#racesNav > a:last-child {
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}
#racesNav > a:hover {
  color: #ffffff;
  background-color: #ab3f3f;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#ab3f3f), to(#913535));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #ab3f3f, #913535);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #ab3f3f, #913535);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #ab3f3f, #913535);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #ab3f3f, #913535);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #ab3f3f, #913535);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #ba4444 #301212 #301212 #b34242;
}
#racesNav > a:active {
  color: #f7ffff;
  background-color: #501d1d;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#501d1d), to(#361414));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #501d1d, #361414);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #501d1d, #361414);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #501d1d, #361414);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #501d1d, #361414);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #501d1d, #361414);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #5f2323 #000000 #000000 #572020;
}
#racesNav > a img {
  float: right;
  position: relative;
  top: -5px;
  opacity: 0.18;
}
#racesNav > div {
  text-align: center;
}
#racesNav .racesHighlighted {
  background-color: #782c2c;
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#782c2c), to(#5e2222));
  /* Saf4+, Chrome */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -webkit-linear-gradient(top, #782c2c, #5e2222);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -moz-linear-gradient(top, #782c2c, #5e2222);
  /* FF3.6 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -ms-linear-gradient(top, #782c2c, #5e2222);
  /* IE10 */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), -o-linear-gradient(top, #782c2c, #5e2222);
  /* Opera 11.10+ */
  background-image: url("http://cdn.speedrunslive.com/images/grunge_button.png"), linear-gradient(to bottom, #782c2c, #5e2222);
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #873131 #000000 #000000 #7f2f2f;
}
